/**
 * This file is for any scss that you may want for this visualizer.
 */
.icore-widget {
  outline: none;
  padding: 2px; }
  .icore-widget.vertical-orientation {
    display: inline-flex; }
    .icore-widget.vertical-orientation .code-editor {
      height: 100%;
      width: 50%; }
    .icore-widget.vertical-orientation .console-window {
      height: 100%;
      width: 50%; }
  .icore-widget.horizontal-orientation {
    display: block; }
    .icore-widget.horizontal-orientation .code-editor {
      height: 50%;
      width: 100%; }
    .icore-widget.horizontal-orientation .console-window {
      height: 50%;
      width: 100%; }
  .icore-widget .code-editor.CodeMirror-focused {
    border-color: #cccccc;
    box-shadow: none; }
  .icore-widget .console-window.CodeMirror-focused {
    border-color: #cccccc;
    box-shadow: none; }
  .icore-widget.no-console-window .code-editor {
    height: 100%;
    width: 100%; }
  .icore-widget.no-console-window .console-window {
    display: none; }
  .icore-widget .console-window span.cm-debug {
    color: #0b93d5; }
  .icore-widget .console-window span.cm-info {
    color: #23b729; }
  .icore-widget .console-window span.cm-warn {
    color: #ece706; }
  .icore-widget .console-window span.cm-error-log {
    color: #b51313; }

li.CodeMirror-hint.icore-hint {
  padding-top: 1px; }
  li.CodeMirror-hint.icore-hint .circle {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 11px;
    color: black;
    line-height: 12px;
    font-style: italic;
    text-align: center;
    background: #ff797d; }
    li.CodeMirror-hint.icore-hint .circle.function {
      background: orange; }
    li.CodeMirror-hint.icore-hint .circle.async-function {
      background: orange; }
  li.CodeMirror-hint.icore-hint .hint-text {
    margin-left: 20px; }
    li.CodeMirror-hint.icore-hint .hint-text.async-function {
      font-style: italic; }
  li.CodeMirror-hint.icore-hint a {
    margin-left: 5px;
    float: right; }
