/**
 * This file is for any scss that you may want for this visualizer.
 */
.icore-widget {
  outline: none;
  padding: 2px; }
  .icore-widget .icore-splitter {
    z-index: 100;
    position: absolute;
    box-sizing: border-box; }
    .icore-widget .icore-splitter.vertical {
      cursor: ew-resize; }
    .icore-widget .icore-splitter.horizontal {
      cursor: ns-resize; }
    .icore-widget .icore-splitter.resize {
      background-color: #C4E1A4; }
  .icore-widget .code-editor {
    position: absolute;
    padding: 2px; }
    .icore-widget .code-editor.CodeMirror-focused {
      border-color: #cccccc;
      box-shadow: none; }
  .icore-widget .console-window {
    position: absolute;
    padding: 2px; }
    .icore-widget .console-window.CodeMirror-focused {
      border-color: #cccccc;
      box-shadow: none; }
  .icore-widget .console-window span.cm-debug {
    color: #0b93d5; }
  .icore-widget .console-window span.cm-info {
    color: #23b729; }
  .icore-widget .console-window span.cm-warn {
    color: #ece706; }
  .icore-widget .console-window span.cm-error-log {
    color: #b51313; }

li.CodeMirror-hint.icore-hint {
  padding-top: 1px; }
  li.CodeMirror-hint.icore-hint .circle {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 11px;
    color: black;
    line-height: 12px;
    text-align: center;
    background: #ff797d; }
    li.CodeMirror-hint.icore-hint .circle.function {
      background: orange; }
    li.CodeMirror-hint.icore-hint .circle.async-function {
      background: orange; }
  li.CodeMirror-hint.icore-hint .hint-text {
    margin-left: 20px; }
    li.CodeMirror-hint.icore-hint .hint-text.async-function {
      font-style: italic; }
  li.CodeMirror-hint.icore-hint a {
    margin-left: 5px;
    float: right; }
